.navbar {
  margin-bottom: 2rem;
}

.gauche {
  background-color: rgba(255,255,255,0.9);
  border-radius: 20px;
  overflow: hidden;
  max-height: 80vh;
  scrollbar-width: thin;

  & .card-text {
    overflow: auto;
    scrollbar-width: thin;
    max-height: 60vh;
  }
}

.droite {
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  max-height: 80vh;
}